<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow-lg p-4" style="width: 400px;">
    <div class="text-center mb-4">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmKBx9nOsPmwm0sicXMxpc9PWY_OvkJ08Hjg&s" class ="login-icon" alt="Login Icon" width="80" />
      <h4 class="mt-3">Entrar no Sistema GPL</h4>
      <p class="text-muted">Informe seus dados para acessar</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
      <!-- Campo de Matrícula -->
      <div class="mb-3">
        <label for="username" class="form-label">Matrícula</label>
        <input
          type="text"
          id="username"
          class="form-control"
          formControlName="username"
          placeholder="123456"
          aria-describedby="usernameHelp"
          (input)="clearErrorMessages()"
          [ngClass]="{'is-invalid': loginForm.get('username')?.invalid && loginForm.get('username')?.touched}"
        />
        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="invalid-feedback">
          <div *ngIf="loginForm.get('username')?.hasError('required')">Número de matrícula é obrigatório.</div>
        </div>
      </div>

      <!-- Campo de Senha -->
      <div class="mb-3">
        <label for="password" class="form-label">Senha</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
          placeholder="*******"
          aria-describedby="passwordHelp"
          (input)="clearErrorMessages()"
          [ngClass]="{'is-invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched}"
        />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="invalid-feedback">
          <div *ngIf="loginForm.get('password')?.hasError('required')">A senha é obrigatória.</div>
        </div>
      </div>

      <!-- Mensagem de Erro Global -->
      <div *ngIf="showErrorMessage" class="alert alert-danger text-center">
        {{ errorMessage }}
      </div>

      <!-- Botão de Login -->
      <div class="d-grid gap-2">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="isSubmitting"
        >
          Entrar
        </button>
      </div>
    </form>
  </div>
</div>






