<div class="wrapper">
    <!-- Sidebar -->
    <div class="sidebar-wrapper" data-simplebar="true">
      <div class="sidebar-header d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          
          <div>
            <h4 class="logo-text">Sistema GPL</h4>
          </div>
        </div>
        <!-- Setinha de saída -->
        <div class="toggle-icon ms-auto">
          <i class="bx bx-arrow-to-left"></i>
        </div>
      </div>
  
      <!-- Menu -->
      <ul class="metismenu" id="menu">
        <!-- Página Inicial -->
        <li>
          <a routerLink="/" class="d-flex align-items-center">
            <i class="bx bx-home me-2"></i>
            <div class="menu-title">Página Inicial</div>
          </a>
        </li>
  
        <li class="menu-label">Acessos</li>
  
          
        <!-- Usuários -->
        <li>
          <a routerLink="/usuarios" class="d-flex align-items-center">
            <i class="bx bx-lock me-2"></i>
            <div class="menu-title">Usuários</div>
          </a>
        </li>
  
        <!-- Permissões -->
        <li>
          <a routerLink="/permissoes" class="d-flex align-items-center">
            <i class="bx bx-shield-quarter me-2"></i>
            <div class="menu-title">Permissões</div>
          </a>
        </li>
  
        <!-- Autorizador -->
        <li>
          <a routerLink="/autorizador" class="d-flex align-items-center">
            <i class="bx bx-check-circle me-2"></i>
            <div class="menu-title">Autorizador</div>
          </a>
        </li>
  
        <!-- Analista GPL -->
        <li>
          <a routerLink="/analista-gpl" class="d-flex align-items-center">
            <i class="bx bx-user me-2"></i>
            <div class="menu-title">Analista GPL</div>
          </a>
        </li>
  
        <!-- Tela Multa -->
        <li>
          <a routerLink="/tela-multa" class="d-flex align-items-center">
            <i class="bx bx-user me-2"></i>
            <div class="menu-title">Tela Multa</div>
          </a>
        </li>
      </ul>
    </div>

    <h1>Bem-vindo à página inicial!, Jorge!</h1>